<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <joint name='IMU_joint' type='fixed'>
        <axis xyz="1 0 0"/>      
        <origin xyz="0 0 0.105"/>
        <parent link="base_link"/>
        <child link="IMU_link"/>
    </joint>

    <link name="IMU_link">
        <inertial>
            <mass value="0.001"/>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001"/>
        </inertial>
        <visual>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
            <box size="0.01 0.01 0.01"/>
            </geometry>
            <material name=""/>  
        </visual>
        <collision>
            <origin rpy="0 0 0" xyz="0 0 0"/>
            <geometry>
            <box size=".01 .01 .01"/>
            </geometry>
        </collision>
    </link>

    <gazebo reference="IMU_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <topic>__default_topic__</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <ros>
                    <!-- publish to /gazebo_sim/imu/data -->
                    <namespace>/gazebo_sim</namespace>
                    <remapping>~/out:=imu/data</remapping>
                </ros>
                <frame_name>IMU_link</frame_name>
                <body_name>IMU_link</body_name>
                <update_rate_HZ>10.0</update_rate_HZ>
                <gaussian_noise>0.0</gaussian_noise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <initial_orientation_as_reference>false</initial_orientation_as_reference>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>
   
</robot>