<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

    <!--<link name="virtual_left_wheel_link"/>
    <link name="virtual_right_wheel_link"/>

    <joint name="left_virtual_joint" type="continuous">
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="virtual_left_wheel_link"/>
        <axis xyz="0 1 0"/>
    </joint>

    <joint name="right_virtual_joint" type="continuous">
        <origin rpy="0 0 0" xyz="0.0 0.0 0.0"/>
        <parent link="base_link"/>
        <child link="virtual_right_wheel_link"/>
        <axis xyz="0 -1 0"/>
    </joint>-->


    <transmission name="left_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="l4">
            <hardwareInterface>EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="left_actuator">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <transmission name="right_transmission">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="r4">
            <hardwareInterface>EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="right_actuator">
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

</robot>